body{
  background-color: #DCEDC8;
  font-family: 'Open Sans', sans-serif;
  color: #212121;
}
ul{
  list-style-type: none;
}
.container {
  background-color: #8BC34A;
  border: 1px solid #FFFFFF;
  margin: 0 auto;
  width: 770px;
}

